<mat-card class="password-card">
  <mat-card-title class="title">{{data.name}}</mat-card-title>
  <mat-card-subtitle>{{data.url}}</mat-card-subtitle>
  <mat-card-content>
    <p>
      <strong>User: </strong>{{data.username}} 
      <button mat-icon-button [cdkCopyToClipboard]="data.password" title="Copy password to clipboard">
        <mat-icon>content_copy</mat-icon>
      </button>
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-icon-button color="primary" (click)="openEditDialog(data)" title="Edit"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button color="primary" (click)="delete(data)" title="Delete"><mat-icon>delete</mat-icon></button>
  </mat-card-actions>
</mat-card>